<h1>Your Life</h1>
<%= render partial: 'custom_dates/lifespan_form' %>

<table class="life-table">
  <% Day.life_weeks_new(@bday,@dday).each{ |week_group| %>
    <tr>
      <% week_group.each{|week|%>
        <% if week.nil? %>
          <td id="dead" data-toggle="tooltip" data-placement="top" title="you're dead"></td>
        <% else %>
          <% if Date.today >= week[0] and Date.today <= week[1] %>
            <td id="this-week" id="this-week" data-toggle="tooltip" data-placement="top" title="Today is <%= Date.today.strftime("%b %d, %Y") %>, part of this week between <%= week[0].strftime("%b %d") %> and <%= week[1].strftime("%b %d, %Y") %>"></td>
          <% else %>
            <td data-toggle="tooltip" data-placement="top" title="Week of <%= week[0].strftime("%b %d") %> to <%= week[1].strftime("%b %d %Y") %>"></td>
          <% end -%>  
        <% end %>
      <% } %>
    </tr>
  <% } %>
</table>