<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= Day.where(id: @annotation.start_date_id)[0].date %>
</p>

<p>
  <strong>End date:</strong>
  <%= Day.where(id: @annotation.end_date_id)[0].date %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @annotation.annotation %>
</p>

<p>
  <strong>Color:</strong>
  
  <div style="width: 66px; height: 66px; background-color: #<%= @annotation.color.upcase %>; text-align: center;">
  	<%= @annotation.color %>
  </div>
</p>

<%= link_to 'Edit', edit_annotation_path(@annotation) %> |
<%= link_to 'Back', annotations_path %>
